########### Refresh the telemetry status page once a minute
########### assumes /ida/web/Telemetry/
## * * * * * /usr/nrts/scripts/UpdateNrtsLatencyPages
#
# Flush the nrtslog
59 * * * * /usr/nrts/scripts/nrts_flushlog
#
#
# Archive TEE files to IDA10 RAW (gzipped), Miniseed and CSS archives. Set NETWORK to 'X0'.
*/10 * * * * /usr/nrts/scripts/ArchiveTeeFiles /usr/nrts/archive/raw /usr/nrts/archive/ms /usr/nrts/archive/css X0
#
#
# MOVED TO IDADCC: update 24-hour helicorder plots
#
########### Generate new wfdiscs
 8,18,28,38,48,58 * * * * /usr/nrts/scripts/isiGenerateWfdiscFiles /usr/nrts/wfdiscs /ida/irta
#
# Save IDAHUB Persona file
59 23 * * * /usr/nrts/scripts/bkpersona /usr/nrts/tmp

